<p><b>CONTATO</b></p><hr>
<p>Quer falar com a nossa equipe? É muito fácil. Basta preencher os campos abaixo e enviar a sua mensagem.<br>Retornaremos o seu contato o mais breve possível.</p>
<div class="row">
    <div class="col-8">
        <form action="">
            <div class="row">
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
              </div>
            <div class="col-md-6">
                <label for="exampleFormControlInput1" class="form-label">Assunto    </label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Enviar</button>
              </div>
        </form>
    </div>
    <div class="col">
        <span><i class="fas fa-location-dot"></i><strong><em>Endereço</em></strong></span>
        <p>Rua Maj. Napoleão Lima, 17 - Centro - Maranguape, Ceará - CEP: 61940-180</p>
        <span><strong><em>Telefone do ouvinte</em></strong></span>
        <p>(085) 3341-1422</p>
        <span><strong><em>Telefone comercial</em></strong></span>
        <p>(085) 98649-1422</p>
    </div>
</div>