    <p><b>EQUIPE</b></p><hr>
    <p>Essas são as pessoas que fazem a Maranguape FM levar ao ar a melhor programação com muita música, informação, entretenimento e descontração todos os dias.</p>
<div class="row">
    <div class="col-4" style="margin-left: 0px;">
        <h5>Locução</h5>
        <p>
            Aderlanio<br>
            Beto Nascimento<br>
            Dede Lopes<br>
            Erbesson Santos<br>
            Edmilson Barros<br>
            Jefferson Costa<br>
            Luiz Estevão<br>
            Manuel<br>
            Moisés Lourenço<br>
            Nonato Guarani<br>
            Patrícia Castro<br>
        </p>
    </div>
    <div class="col-4" style="margin-left: 0px;">
        <h5>Direção geral</h5>
        <p>
            Ubirajara Jr
        </p>
    </div>
                
            </div>
        

