    <p><b>EQUIPE</b></p><hr>
<div class="row">
        <div class="col-4">
            Fulano
            <div class="row g-2">
                <div class="col-6"><img src="app/assets/img/person.png" width="150px" alt=""></div>
                <div class="col-6" style="margin-left: 0px;">bla bla bla</div>
            </div>
            
        </div>
        <div class="col-4">
            Ciclano
            <div class="row g-2">
                <div class="col-6"><img src="app/assets/img/person.png" width="150px" alt=""></div>
                <div class="col-6">bla bla bla</div>
            </div>
        </div>
        <div class="col-4">
            Sirano
            <div class="row g-2">
                <div class="col-6"><img src="app/assets/img/person.png" width="150px" alt=""></div>
                <div class="col-6">bla bla bla</div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
        <div class="col-4">
            Fulano
            <div class="row g-2">
                <div class="col-6"><img src="app/assets/img/person.png" width="150px" alt=""></div>
                <div class="col-6">bla bla bla</div>
            </div>
        </div>
        <div class="col-4">
            Ciclano
            <div class="row g-2">
                <div class="col-6"><img src="app/assets/img/person.png" width="150px" alt=""></div>
                <div class="col-6">bla bla bla</div>
            </div>
        </div>
        <div class="col-4">
            Sirano
            <div class="row g-2">
                <div class="col-6"><img src="app/assets/img/person.png" width="150px" alt=""></div>
                <div class="col-6">bla bla bla</div>
            </div>
        </div>
    </div>

</div>