<p><b>PROGRAMAS</b></p><hr>
<p>Fique por dentro dos dias e horários dos programas da Maranguape FM e aproveite para participar ao vivo!</p>
<div class="row">

    <div class="col">
        <img src="app/assets/img/cripto950.png" width="254px" alt="">
        <p id="nomeprograma">Manhã 87</p><p id="descricaoprograma"><em>Música e informação na medida certa</em><br>Segunda a sexta, 6h</p>
    </div>
    <div class="col">
        <img src="app/assets/img/cripto950.png" width="254px" alt="">
        <p id="nomeprograma">Mania</p><p id="descricaoprograma"><em>Música e informação na medida certa</em><br>Segunda a sexta, 8h</p>
    </div>
    <div class="col">
        <img src="app/assets/img/cripto950.png" width="254px" alt="">
        <p id="nomeprograma">Bate bola</p><p id="descricaoprograma"><em>Música e informação na medida certa</em><br>Segunda a sexta, 11h</p>
    </div>
    <div class="col">
        <img src="app/assets/img/cripto950.png" width="254px" alt="">
        <p id="nomeprograma">Comunidade em ação</p><p id="descricaoprograma"><em>Música e informação na medida certa</em><br>Segunda a sexta, 12h</p>
    </div>
    <div class="col">
        <img src="app/assets/img/cripto950.png" width="254px" alt="">
        <p id="nomeprograma">Israel Vieira</p><p id="descricaoprograma"><em>Música e informação na medida certa</em><br>Segunda a sexta, 13h</p>
    </div>
    <div class="col">
        <img src="app/assets/img/cripto950.png" width="254px" alt="">
        <p id="nomeprograma">Só Forró</p><p id="descricaoprograma"><em>Música e informação na medida certa</em><br>Segunda a sexta, 16h</p>
    </div>
    <div class="col">
        <img src="app/assets/img/cripto950.png" width="254px" alt="">
        <p id="nomeprograma">Ritmos da noite</p><p id="descricaoprograma"><em>Música e informação na medida certa</em><br>Segunda a sexta, 20h</p>
    </div>
    
</div>