<p><b>PROGRAMAS</b></p><hr>
<p>Fique por dentro dos dias e horários dos programas da Maranguape FM e aproveite para participar ao vivo!</p>
<div class="row">
    <div class="col-4" style="margin-bottom: 5px;">
        <h5>Segunda a sexta</h5>
    
        <div class="" style="margin-bottom: 5px;">
            <b>Bom dia Maranguape</b><br>
            <em>6h as 8h</em><br>
            Erbesson Santos<br>
        </div>
        <div class="" style="margin-bottom: 5px;">
            <b>Manhã Mania</b><br>
            <em>8h as 11h</em><br>
            Patricia Castro<br>
        </div>
        <div style="margin-bottom: 5px;">
            <b>Comunidade Em Ação</b><br>
            <em>12h as 13h</em><br>
            Ubirajara Jr<br>
        </div>
        <div style="margin-bottom: 5px;">
            <b>Só Forró</b><br>
            <em>16h as 19h</em><br>
            Jefferson Costa<br>
        </div>
        <div style="margin-bottom: 5px;">
            <b>Ritmos da Noite</b><br>
            <em>20h as 23h</em><br>
            Luiz Estevão
        </div>
    </div>

            <div class="col-4" style="margin-bottom: 5px;">
    <h5>Sábado</h5>
        <div style="margin-bottom: 5px;">
            <b>Luiz Sanfona e seus convidados</b><br>
            <em>6h as 8h</em><br>
            Aderlanio e Sr. Manuel
        </div>

        <div style="margin-bottom: 5px;">
            <b>Roberto Carlos</b><br>
            <em>9h as 11h</em><br>
            Beto Nascimento
        </div>
        
        <div style="margin-bottom: 5px;">
            <b>Porque Hoje é Sábado</b><br>
            <em>11h as 12h</em>
        </div>

        <div style="margin-bottom: 5px;">
            <b>Jovem Guarda</b><br>
            <em>12h as 16h</em><br>
            Luiz Estevão
        </div>

        <div style="margin-bottom: 5px;">
            <b>Brega Bar</b><br>
            <em>16h as 20h</em><br>
            Nonato Guarani
        </div>

    </div>

            <div class="col-4" style="margin-bottom: 5px;">
    <h5>Domingo</h5>
    <div style="margin-bottom: 5px;">
        <b>Eco Musical</b><br>
        <em>6h as 8h</em><br>
        Moises Lourenço
    </div> 
    
    <div style="margin-bottom: 5px;">
        <b>Brasil Trovador</b><br>
        <em>8h as 9:30</em><br>
        Dede Lopes
    </div>
    
    <div style="margin-bottom: 5px;">
        <b>Encontro Com Jesus</b><br>
        <em>9:30h as 11:30</em>
    </div>
    
    <div style="margin-bottom: 5px;">
        <b>Futebol</b><br>
        <em>15h as 18h</em><br>
        Edmilson Barros e Equipe
    </div>
    
    <div style="margin-bottom: 5px;">
        <b>Conexão Com Cristo</b><br>
        <em>18h as 19h</em>
    </div>
    
    <div style="margin-bottom: 5px;">
        <b>Santa Missa</b><br>
        <em>19h as 20h</em>
    </div>
    
    </div>

</div>