<p><b>SOBRE A RÁDIO</b></p><hr>
<div>
    <p>Desde o dia 1º de janeiro de 2011, a Rádio Beach Park está no ar com uma programação diversificada e que atinge múltiplos estilos diariamente. A programação passa do samba ao rock, do atual ao clássico, tudo isso sem perder a qualidade e sempre trazendo o melhor da música até você.</p>

        <p>Com uma equipe de primeira, desenvolvemos uma programação que toca tudo o que você quer ouvir para embalar os momentos especiais da sua vida. Tem baladinhas pra quem quer curtir uma festa no final de semana, tem samba de raiz pra quem não dispensa uma boa música brasileira, tem um som animado pra aproveitar o domingo com a família e muito mais.</p>
        
        <p>Tocamos mais do que música, tocamos a sua onda!</p>
</div>