<p><b>SOBRE A RÁDIO</b></p><hr>
<div>
    <p>Maranguape FM: a nossa rádio!</p>

        <p>No ar desde 2008 com uma programação diversificada e de muito bom gosto. A Maranguape FM informa, entretém e descontrai. Na programação musical passamos pelo forró, pop, sertanejo, brega, jovem guarda, dentre outros. Os mais variados estilos passam aqui. Boletins informativos, prestação de serviços, promoções e entrevistas também fazem parte da nossa programação.</p>
        <p>No seu rádio, pela frequência 87.9MHz ou aqui na internet você acompanha todo dia o dia todo a nossa programação.</p>
</div>